

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EquipmentReservationDAO">
    <insert id="insertReservation">
        INSERT INTO EquipmentReservation (equipment_id)
        VALUES (#{equipmentId})
    </insert>
    <delete id="deleteReservation">
        DELETE FROM EquipmentReservation WHERE id = #{reservationId}
    </delete>
    <!-- ... (Other queries) -->
</mapper>
